# Logs
logs/
*.log

# Dependency directories
node_modules/

# Build files
dist/
docs/

# Environment files
.env

# MongoDB data
data/

# System files
.DS_Store
Thumbs.db

# IDE settings
.idea/
.vscode/
*.iml
